body
	{
	color: white;
	font-family:Roboto, Arial, sans-serif;
	}

.layout-container
{
	grid-template-columns: auto auto;
	size:100%;
	display: grid;	
	padding: 10px;
	grid-gap: 5px;
	text-align: left;

}

.banner-container
{ 
	justify-content: center; 
	align-items: center; 
	background-image: url(celebration.jpg); 
	position: relative; 
	height: 250px; 
	display: flex;
}

h1
{
	text-align: center; 
}

fieldset
{
	background-color:rgb(214, 234, 248);
}

legend
{ 
	padding: 10px; 
	background-color:#1c87c9;
 }

label
{ 
	color: black; 
}

input,textarea
{ 
	padding:5px; 
	border-radius:8px;  
	width:100%;  
}

input:focus,textarea:focus
{
	border-style:solid 2px; 
	border-color:#43D1AF;
}
button
{
	background-color:#1abc9c; 
	color: white; width: 150px;  
	border-radius:5px; 
	font-size:16px; 
	border-style: none;
}